<div id="nextcloud-content" class="sniplet nextcloud nextcloud-content">
    <div class="row">
        <!-- url connect -->
        <div ng-if="vm.nextcloudUrl && !vm.isNextcloudUrlHidden" class="cell">
            <i18n>nextcloud.url.connect</i18n> &#58; <a target="_blank" ng-href="[[vm.nextcloudUrl]]">[[vm.nextcloudUrl]]</a>
        </div>

        <!-- action : importer des fichiers dans NextCloud (bouton persistant, en plus de la
             dropzone), aligné à droite. Affiché seulement si droit d'écriture sur le dossier. -->
        <div class="cell right-magnet" ng-if="vm.canDropOnFolder()">
            <button type="button" ng-click="vm.upload.toggleUploadFilesView(true)">
                <i18n>import</i18n>
            </button>
        </div>

        <!-- view mode -->
        <div class="cell right-magnet">
            <div class="choice-view">
                <i class="show-icons" ng-class="{ selected: vm.isViewMode('icons') }" ng-click="vm.changeViewMode('icons')"></i>
                <i class="show-list" ng-class="{ selected: vm.isViewMode('list') }" ng-click="vm.changeViewMode('list')"></i>
            </div>
        </div>
    </div>

    <!-- dropzone action file -->
    <dropzone-overlay
            ng-if="vm.isDropzoneEnabled()"
            on-import="vm.upload.onImportFiles($event)"
            can-drop="vm.canDropOnFolder()"
            on-cannot-drop="vm.onCannotDropFile()">
    </dropzone-overlay>

    <!-- view content -->
    <container template="documents-content"></container>

    <!-- empty state -->
    <div class="emptyscreen-nextcloud" ng-if="vm.isLoaded" ng-show="!vm.documents.length">
        <h2 class="emptyscreen-header">
            <i18n>empty.workspace.subfolder.title</i18n>
        </h2>

        <img class="emptyscreen-image__mini" src="/workspace/public/img/empty-workspace.svg" alt="">

        <p class="emptyscreen-footer">
            <i18n>empty.workspace</i18n>
        </p>
    </div>

    <!-- toolbar -->
    <div ng-include="'/nextcloud/public/template/behaviours/sniplet-nextcloud-content/toolbar/workspace-nextcloud-toolbar.html'"></div>

    <!-- upload file popup -->
    <div ng-include="'/nextcloud/public/template/behaviours/sniplet-nextcloud-content/content/workspace-nextcloud-upload-file.html'"></div>
</div>

