<section class="nextcloud-content-toolbar toggle-buttons hide"
         ng-class="{'toolbar-display': vm.selectedDocuments && vm.selectedDocuments.length > 0}">
    <div class="toggle">
        <div class="row">
            <!-- download file(s) -->
            <button ng-click="vm.toolbar.downloadFiles(vm.selectedDocuments)">
                <i18n>workspace.download</i18n>
            </button>

            <!-- properties file -->
            <div id="nextcloud-toolbar-properties" ng-if="vm.toolbar.hasOneDocumentSelected(vm.selectedDocuments)">
                <button ng-click="vm.toolbar.toggleRenameView(true, vm.selectedDocuments)" class="cell">
                    <i18n>workspace.properties</i18n>
                </button>
                <!-- popup -->
                <div ng-include="'/nextcloud/public/template/behaviours/sniplet-nextcloud-content/toolbar/workspace-nextcloud-toolbar-properties.html'"></div>
            </div>

            <!-- delete document(s) -->
            <div id="nextcloud-toolbar-delete">
                <button ng-click="vm.toolbar.toggleDeleteView(true)">
                    <i18n>workspace.delete</i18n>
                </button>

                <!-- popup -->
                <div ng-include="'/nextcloud/public/template/behaviours/sniplet-nextcloud-content/toolbar/workspace-nextcloud-toolbar-delete.html'"></div>
            </div>

            <!-- edit document(s) -->
            <div id="nextcloud-toolbar-edit" ng-if="vm.toolbar.hasOneDocumentSelected(vm.selectedDocuments) && vm.toolbar.isSelectedEditable(vm.selectedDocuments)">
                <button ng-click="vm.toolbar.toggleEdit()">
                    <i18n>workspace.external.open</i18n>
                </button>
            </div>

            <!-- share document(s) (copy to workspace + entcore share-panel) -->
            <div id="nextcloud-toolbar-share">
                <button ng-click="vm.toolbar.share.toggleShareView(true, vm.selectedDocuments)">
                    <i18n>workspace.share</i18n>
                </button>

                <!-- popup -->
                <div ng-include="'/nextcloud/public/template/behaviours/sniplet-nextcloud-content/toolbar/share/workspace-nextcloud-toolbar-share.html'"></div>
            </div>

            <!-- share document(s) natively on NextCloud with another ENT user -->
            <div id="nextcloud-toolbar-share-nextcloud">
                <button ng-click="vm.toolbar.shareNextcloud.toggleShareNextcloudView(true, vm.selectedDocuments)">
                    <i18n>nextcloud.share.native.button</i18n>
                </button>

                <!-- popup -->
                <div ng-include="'/nextcloud/public/template/behaviours/sniplet-nextcloud-content/toolbar/share-nextcloud/workspace-nextcloud-toolbar-share-nextcloud.html'"></div>
            </div>
        </div>
    </div>
</section>